.vs/
Thumbs.db
Debug/
x64/
*.vcxproj.*
*.vcxproj
*.xcodeproj
*.xcodeproj/
*.sln
.DS_STORE
*.pdb
*.exe
Shadow
ShadowDebug
*.dSYM/
*.command
!include/shadow
Shadow.app/
Resources/*
!Resources/README
!Resources/missing.iqm
!Resources/lua/
Resources/lua/*
!Resources/lua/initialize_template.txt
!Resources/lua/packages/
Resources/lua/packages/*
!Resources/lua/packages/shadowInput.lua
!Resources/lua/packages/inifile.lua
!user/
user/*
!user/src/
!user/headers/
user/src/*
user/headers/*
!user/src/template.txt
!user/headers/README