.vs/
Thumbs.db
Debug/
x64/
*.vcxproj.*
*.vcxproj
*.xcodeproj
*.xcodeproj/
*.sln
.DS_STORE
*.pdb
Shadow.exe
ShadowDebug.exe
Shadow
ShadowDebug
ShadowDebug.dSYM/
*.command
!include/shadow
Shadow.app/
Resources/
!Resources/lua/initialize.lua
!Resources/info.md
!Resources/missing.iqm
!Resources/Test.bin
!Resources/Test.iqm
!Resources/Test.png
src_user/
!src_user/example_code.cpp
!src_user/template.txt