.vs/
Thumbs.db
Debug/
x64/
*.vcxproj.*
*.vcxproj
*.xcodeproj
*.xcodeproj/
*.sln
.DS_STORE
*.pdb
*.exe
Shadow
ShadowDebug
*.dSYM/
*.command
!include/shadow
Shadow.app/
!example/src_user/example_code.cpp
Resources/*
!Resources/README
!Resources/missing.iqm
!Resources/lua/
Resources/lua/*
!Resources/lua/initialize_template.txt
!Resources/lua/packages/
Resources/lua/packages/*
!Resources/lua/packages/shadowInput.lua
!Resources/lua/packages/inifile.lua
src_user/*
!src_user/template.txt
include/user/*
!include/user/README