<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>ShadowEngine</string>
		<key>Shadow</key>
		<string></string>
		<key>CFBundleIdentifier</key>
		<string>com.pixelvomit.Shadow</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleExecutable</key>
		<string>Shadow</string>
		<key>CFBundleVersion</key>
		<string>1</string>
	</dict>
</plist>
<!--This is only an example Info.plist file. Replace this with your own copy-->